@model IEnumerable<StockManagementWebApplication.Models.Entities.Item>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
               Most Popular Items
            </th>
            
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
               
            </tr>
        }
    </tbody>
</table>